@charset "utf-8";
h1{
	font-family:微软雅黑;
	font-size:24px;
	text-align:center;
	color:#C052EA;
}
.shengao{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:normal;
	color:#000000;
	text-align:center;
}
.tizhong{font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:normal;
	color:#000000;
	text-align:center;
}
.btncolor{
	background-color:#1DF813;
	color:white;
	font:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:large;
    
}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	