@charset "utf-8";
/* CSS Document */

 body{
 	background-image: url(I:\网页\练习例子\img\世界地图.jpg);
 	
 }
 h1{
 	font-family: "微软雅黑";
 	font-size: larger;
 	color:lawngreen;
 	text-align: center;
 }
 .smin {
 	width: 160px;
 	height: 30px;
 
 }
 .testBtn{
 	width: 120px;
 	height: 30px;
 	font-family: "微软雅黑";
 	font-size: large;
 	color: white;
 	background-color: #7CFC00;
	border-radius:10px;
 }
 
 .outstyle{
 	background-color: #7CFC00;
 	color: white;
 }

