@charset "utf-8";
/* CSS Document */
html, body, ul, li, h1, h2, h3, h4, h5, h6, p, fieldset, legend {padding:0; margin:0;}

ul,li {list-style-type:none; text-transform:capitalize;}
.clear {clear:both; *display:inline;/*IE only*/}
/*menu*/
#nav .jquery_out {float:left;line-height:32px;display:block; border-right:1px solid #fff; text-align:center; color:#fff;font:18px/32px "微软雅黑"; ;}
#nav .jquery_out .smile {padding-left:1em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}

#nav {width:1000px; height:35px;display:block;background-image: url(../image/imgs/img18.jpg);}
#nav .mainlevel {background-image: url(../image/imgs/img19.jpg);background-position: right;background-repeat: no-repeat;
font-size:14px;color: #e4ebfc;text-decoration: none;font-weight: bold;float:left; width:83px;/*IE6 only*/}
#nav .mainlevel a {font-family:cursive;font-size:14px;color:#e4ebfc; text-align:center;text-decoration:none; line-height:35px; display:block; padding:0 2px; }
#nav .mainlevel a:hover {text-decoration:none;color:#e4ebfc;}
#nav .mainlevel ul {display:none; position:absolute;z-index:2;}
#nav .mainlevel li {background:#519dd1; line-height:25px;width:130px;filter:alpha(opacity=80);opacity:0.8;z-index:2;/*IE6 only*/}
#nav .mainlevel li a {text-align:left;text-indent: 12px;font-weight: normal;line-height:25px;width:130px;/*IE6 only*/}
#nav .mainlevel li a:hover {color:#438fc3;background:#d6def6;/*IE6 only*/}
.log {text-align:center; color:skyblue; line-height:25px; text-transform:capitalize; margin:50px auto;}
